@model CacheModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Logging"];
}

<div class="row">
    <div class="col-md-12 center-block">
        <h3>@Localizer["Logging"]</h3><br>
    </div>
</div>